<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    

<style>
    table, th, td {
      border:1px solid black;
    }
    </style>




<center><h1 style="color: brown;">Blood Request History</center></h1>
<table border="2" width="100%" >
    

    <tr>
        
        <th>PATIENT NAME</th>
        <th>AGE</th>
        <th>REASON</th>
        <th>BLOOD GROUP</th>
        <th>UNIT(IN ML)</th>
        <th>DATE</th>
        <th>STATUS</th>
       
        
    </tr>
    
    <tr>
        
        <th> Anil kumar</th>
        <th> 50</th>
        <th> Accident</th>
        <th> A+</th>
        <th> 5</th>
        <th> april 20, 2023</th>
        <th> pending</th>
        
       
        
    </tr>
    <tr>
        
        <th> vinay</th>
        <th> Accident</th>
        <th> 24</th>
        <th> O+</th>
        <th> 5</th>
        <th> april 22, 2023</th>
        <th> pending</th>
       
       
        
    </tr>
    <tr>
        
        <th> bipil</th>
        <th> 29</th>
        <th> fever</th>
        <th>AB+ </th>
        <th> 5</th>
        <th> may 12, 2023</th>
        <th> pending</th>
       
       
        
    </tr>

    <tr>
        
        <th> Anil kumar</th>
        <th> 50</th>
        <th> Accident</th>
        <th> A+</th>
        <th> 5</th>
        <th> april 20, 2023</th>
        <th> pending</th>
        
       
        
    </tr>
    <tr>
        
        <th> vinay</th>
        <th> 24</th>
        <th> fever</th>
        <th> O+</th>
        <th> 5</th>
        <th> april 22, 2023</th>
        <th> pending</th>
        
       
        
    </tr>
    <tr>
        
        <th> bipil</th>
        <th> 29</th>
        <th> fever</th>
        <th>AB+ </th>
        <th> 5</th>
        <th> may 12, 2023</th>
        <th> pending</th>
       
       
        
    </tr>

    <tr>
        
        <th> Anil kumar</th>
        <th> 50</th>
        <th> Accident</th>
        <th> A+</th>
        <th> 5</th>
        <th> april 20, 2023</th>
        <th> pending</th>
        
       
        
    </tr>
    <tr>
        
        <th> vinay</th>
        <th> 24</th>
        <th> fever</th>
        <th> O+</th>
        <th> 5</th>
        <th> april 22, 2023</th>
        <th> pending</th>
        
       
        
    </tr>
    <tr>
        
        <th> bipil</th>
        <th> 29</th>
        <th> fever</th>
        <th>AB+ </th>
        <th> 5</th>
        <th> may 12, 2023</th>
        <th> pending</th>
        
       
        
    </tr>


    
   
    
</table>


</body>
</html>