{% extends 'Bloodbank_admin/admin_master.html' %}
{% load static %}


{% block content %}


      
      
<h1 style="color: maroon; font-family: Georgia, 'Times New Roman', Times, serif; font-weight: 700; text-align: center; margin-bottom: 2%;" >
   Blood Stock
  </h1> 




<div class="row">
  <div class="col-12 col-md-3">
    <div class="card" style="width: 50%; margin-top: 3%;">

      <div class="card-body">
        <h2 class="card-title">A+</h2>
        <p class="card-text">
        <h3>5unit</h3>
        </p>
        <!-- to display the count of customers,The count function is calling from views.py[count()] and the count of the customer is passing from views.py-->

      </div>
    </div>
  </div>

  <div class="col-12 col-md-3">
    <div class="card" style="width: 50%; margin-top: 3%;">

      <div class="card-body">
        <h2 class="card-title">A-</h2>
        <p class="card-text">
        <h3>5unit</h3>
        </p>
        <!-- To display the count of resellers,The count function is calling from views.py[count()] -->

      </div>
    </div>

  </div>

  <div class="col-12 col-md-3">
    <div class="card" style="width: 50%; margin-top: 3%;">

      <div class="card-body">
        <h2 class="card-title">B+</h2>
        <p class="card-text">
        <h3>5unit</h3>
        </p>
        <!-- to display the count of customers,The count function is calling from views.py[count()] and the count of the customer is passing from views.py-->

      </div>
    </div>
  </div>

  <div class="col-12 col-md-3">
    <div class="card" style="width: 50%; margin-top: 3%;">

      <div class="card-body">
        <h2 class="card-title">B-</h2>
        <p class="card-text">
        <h3>5unit</h3>
        </p>
        <!-- to display the count of customers,The count function is calling from views.py[count()] and the count of the customer is passing from views.py-->

      </div>
    </div>
  </div>

  <div class="col-12 col-md-3">
    <div class="card" style="width: 50%; margin-top: 3%;">

      <div class="card-body">
        <h2 class="card-title">O+</h2>
        <p class="card-text">
        <h3>5unit</h3>
        </p>
        <!-- to display the count of customers,The count function is calling from views.py[count()] and the count of the customer is passing from views.py-->

      </div>
    </div>
  </div>

  <div class="col-12 col-md-3">
    <div class="card" style="width: 50%; margin-top: 3%;">

      <div class="card-body">
        <h2 class="card-title">O-</h2>
        <p class="card-text">
        <h3>5unit</h3>
        </p>
        <!-- to display the count of customers,The count function is calling from views.py[count()] and the count of the customer is passing from views.py-->

      </div>
    </div>
  </div>

  <div class="col-12 col-md-3">
    <div class="card" style="width: 50%; margin-top: 3%;">

      <div class="card-body">
        <h2 class="card-title">AB+</h2>
        <p class="card-text">
        <h3>1unit</h3>
        </p>
        <!-- to display the count of customers,The count function is calling from views.py[count()] and the count of the customer is passing from views.py-->

      </div>
    </div>
  </div>

  <div class="col-12 col-md-3">
    <div class="card" style="width: 50%; margin-top: 3%;">

      <div class="card-body">
        <h2 class="card-title">AB-</h2>
        <p class="card-text">
        <h3>1unit</h3>
        </p>
        <!-- to display the count of customers,The count function is calling from views.py[count()] and the count of the customer is passing from views.py-->

      </div>
    </div>
  </div>

  

  

  
  

  

{% endblock %}