<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <body>
        
    
    <style>
        table, th, td {
          border:1px solid black;
        }
        </style>
    
    
    
    
    <center><h1 style="color: brown;">Donors list</center></h1>
    <table border="2" width="100%" >
        
    
        <tr>
            <th>SL.NO</th>
            <th>NAME</th>
            <th>EMAIL</th>
            <th>MOBILE</th>
            <th>ADDRESS</th>
            <th>BLOOD GROUP</th>
            <th>PHOTO</th>
            
            
        </tr>
        
        <tr>
            <th> 1 </th>
            <th> Anu</th>
            <th> anu123@gamil.com </th>
            <th> 9876554478</th>
            <th> chulliyottu, nellikode(po),pottammal,calicut </th>
            <th> A+</th>
            <th> <img src="{{reseller.upload_image.url}}" alt="" width="100px" height="100px"> </th>
            
            
        </tr>
    
        <tr>
            <th> 2 </th>
            <th> vimal</th>
            <th> vimal897@gmail.com@gamil.com </th>
            <th> 8776554478</th>
            <th> areepurath meethal, kommeri(po),methottu thazham,calicut </th>
            <th> B+</th>
            <th> <img src="{{reseller.upload_image.url}}" alt="" width="100px" height="100px"> </th>
           
            
        </tr>
    
        <tr>
            <th> 3</th>
            <th> kiran</th>
            <th> kiranv2023@gamil.com </th>
            <th> 7532554478</th>
            <th> pottakattu, nellikode(po),palazhi,calicut </th>
            <th> O+</th>
            <th> <img src="{{reseller.upload_image.url}}" alt="" width="100px" height="100px"> </th>
            
            
        </tr>
       
        
    </table>
    
    
    </body>
    </html>
</body>
</html>